<!DOCTYPE html>
<html>
  <head>
    <title>The World According to the USA</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link type="text/css" rel="stylesheet" href="../static/css/style.css"/>
    <link type="text/css" rel="stylesheet" href="../static/lib/colorbrewer/colorbrewer.css"/>


  </head>
  <body>
    <div id="body">
      <div id="footer">
        the world according to
        <div class="hint">drag to rotate the origin</div>
        <div><select>
          <option value="equalarea">equalarea</option>
          <option value="equidistant">equidistant</option>
          <option value="gnomonic">gnomonic</option>
          <option value="orthographic" selected>orthographic</option>
          <option value="stereographic">stereographic</option>
        </select></div>
      </div>
    </div>

    <script src="http://d3js.org/d3.v2.js"></script>
    <script src="../static/js/wat.js"></script>

  </body>
</html>
